<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859478845487-8c7i5klln2oe45lqs4lm9phlt81qg20e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859478845487-8c7i5klln2oe45lqs4lm9phlt81qg20e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>859478845487-45haal7m8fhirhsrsm66ndv2gmtu6p1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA055pO96RcMQKd2ziHs2vbW8r5nuFhrG8</string>
	<key>GCM_SENDER_ID</key>
	<string>859478845487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cooksistant.cooksistant</string>
	<key>PROJECT_ID</key>
	<string>cooksistant-308615</string>
	<key>STORAGE_BUCKET</key>
	<string>cooksistant-308615.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859478845487:ios:c339e4eaf533efc622feda</string>
	<key>DATABASE_URL</key>
	<string>https://cooksistant-308615-default-rtdb.firebaseio.com</string>
</dict>
</plist>